.personal-data-bg{
    background-image: url(/src/img/hp-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 701px;
    color: $black;

    .personal-data{
        max-width: 630px;
        margin: 0 auto;
        h2{
            padding: 64px 0 34px 0;
            font-family: 'Lora', serif;
            font-weight: 400;
            color: $black;
            margin: 0;
        }
        label{
            h5{
            font-size: 15px;
            font-weight: 700;
            text-align: left;
            margin:  20px  0 5px 5px;
            }
            input{
                width: 624px;
                height: 48px;
                border: 1px solid #D4E2E4;
                outline:none;
                padding: 10px;
                font-size: 20px;
                border-radius: 3px;
            }
           
        }
        //CUSTOM CHECKMARK
        .custom-checkbox{
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input{
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0; 
            }
            .checkmark {
                position: absolute;
                top: -3px;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #F3F6FA;
                border-radius: 3px;
              }
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              }
              input:checked ~ .checkmark {
                background-color: #636C7C;
                border-radius: 3px;
              }
              input:checked ~ .checkmark:after {
                display: block;
              }
              .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              p{
                  font-size: 15px;
                  text-align: left;
                  margin-top: 20px;
                  margin-left: 20px;
              }
        }

        .lost-password{
            text-align: right;
            span{
                font-weight: 700;
                color: $red;
                text-decoration: underline;
                padding-right: 5px;
            }
        }
        //REGISTRATION
        .password-section{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            input{
                width: 310px;
            }
        }
        button{
            width: 624px;
            height: 48px;
            outline: none;
            padding: 10px;
            font-size: 20px;
            border-radius: 3px;
            background-color: $red;
            border:none;
            color: $white;
            margin: 30px 0 60px 0;
        }
    }
}


@media screen and (max-width:650px) {
.personal-data-bg{
    height: 100%;
    .personal-data{
        label{
            h5{
                margin: 21px 0 5px 23px ;
            }
            input{
                max-width: 90%;
            }
        }
        .password-section{
            flex-direction: column;
            input{
                width: 100%;
            }
        }
        .lost-password{
            span{
                padding-right: 23px !important;
            }
        }
        .custom-checkbox{
            width: 90%;
            margin: auto;
        }
        button{
            max-width: 90%;

        }
    }
}
}