.order{
width: 62%;
margin:40px  auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
h3{
    font-family:'Lora', 'serif';
    color: $black;
    font-weight: 400;
}
p{
    font-weight: 700;   
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
    a{
        color: $red;
    }
}
}

.billing-informations{
    form{
        .address-section{
            display: flex;
            justify-content: space-between;
            input{
                width: 464px;
            }
            input[type=number]{
                width: 144px;
            }
        }
        .contact-section{
            display: flex;
            justify-content: space-between;
            label{
                input{
                    width: 304px;
                }
            }
        }
        .custom-checkbox{
            p{
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;
                margin: 20px;
                color: $grey;
                a{
                    color: $red;
                    font-weight: 700;
                }
            }
        }
        label{
            color: $black;
        }
    }
}

.order-summary{
    h3{
        margin-bottom: 40px;
    }
    .os-item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #D4E2E4 ;
        width: 544px;
        padding: 10px;
        border-radius: 3px;
        margin: 10px 0;
        img{
            width: 78px;
            height: auto;
        }
        .item-name{
            width: 133px;
        }
        p{
            margin: 10px;
            font-weight: 400;
            span{
                display: none;
            }
        }
        h5{
           font-size: 17px;
           font-weight: 700;
           color: $black; 
        }
    }

    .total-sum{
        background-color: rgba(212, 226, 228, 0.25);
        padding: 20px;
        border-radius: 3px;
        .ts{
            display: flex;
            justify-content: space-between;
            h5{
                font-size: 17px ;
                font-weight: 700;
                line-height: 24px;
                color: $black;
                margin: 10px;
            }
        }
    }

    .total-price{
        padding: 20px;
        border-radius: 3px;
        background-color: #FFD1BF;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        h5{
            font-size: 17px ;
            font-weight: 700;
            line-height: 24px;
            color: $black;
            margin: 10px;
        }
    }
    .order-conditions-mobile{
        display: none;
    }

    button{
        width: 100%;
        border:none;
        outline: none;
        border-radius: 3px;
        background-color: $red;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        height: 64px;
        margin: 30px 0 50px 0;
    }
}

@media screen and (max-width:1920px) {
    .order{
        width: 90%;
        justify-content: space-around;
    }
}

@media screen and (max-width:675px) {
    .billing-informations{
        width: 90%;
       form{
            width: 90%;
            input{
                width: 100%;
            }
            .address-section, .contact-section{
                flex-direction: column;
                flex-wrap: wrap;
                label{
                    width: 100%;
                    input{
                    width: 100%;
                    }
                }
                
            }
            .order-conditions-desktop{
                display: none;
            }
        } 
    }

.order-summary{
    width: 90%;
    .os-item{
        width: 100%;
        p:nth-child(4){
            display: none;
        }
    }
    .total-price{
        margin-bottom: 40px;
    }
    .order-conditions-mobile{
        display: block;
        p{
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            margin: 20px;
            color: $grey;
            a{
                color: $red;
                font-weight: 700;
            }
        }
    }
}
    
}

@media screen and (max-width:375px) {
 .order{
     h3{
         font-size: 28px;
     }
 }
 .order-summary{
    .os-item{
        P{
            display: flex;
            flex-direction: column;
            span{
                display: block;
            }
        }
        p:nth-child(3){
            display: none;
        }
    }
}
}